canvas{
    width: 50%;
    height: 50%;
}

.disconnected{
    animation: hideAnimation 5s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation{
    to{
        visibility: hidden;
        width: 10;
        height: 10;
    }
} 
 